<!DOCTYPE html>
<!--[if IE 9 ]><html class="ie9"><![endif]-->
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    <meta name="format-detection" content="telephone=no">
    <meta charset="UTF-8">

    <meta name="description" content="SuperFlat Responsive Admin Template">
    <meta name="keywords" content="SuperFlat Admin, Admin, Template, Bootstrap">

    <title>SuperFlat Responsive Admin Template</title>

    <link href="{{ asset('bundles/app/css/app.min.css') }}" rel="stylesheet">
    <link href="{{ asset('bundles/app/css/demo.css') }}" rel="stylesheet">

    <link href="{{ asset('bundles/app/librarys/bower_components/animate.css/animate.min.css') }}" rel="stylesheet">
    <link href="{{ asset('bundles/app/librarys/bower_components/material-design-iconic-font/dist/css/material-design-iconic-font.min.css') }}" rel="stylesheet">
    <link href="{{ asset('bundles/app/librarys/bower_components/fullcalendar/dist/fullcalendar.min.css') }}" rel="stylesheet">
    <link href="{{ asset('bundles/app/librarys/bower_components/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.min.css') }}" rel="stylesheet">

    <link href="css/app.min.css" rel="stylesheet">
</head>



<body>
{% block content %}


{% endblock %}
<!-- Javascript Libraries -->
<script src="{{ asset('bundles/app/librarys/bower_components/jquery/dist/jquery.min.js') }}"></script>
<script src="{{ asset('bundles/app/librarys/bower_components/bootstrap/dist/js/bootstrap.min.js') }}"></script>
<script src="{{ asset('bundles/app/librarys/bower_components/flot/jquery.flot.js') }}"></script>
<script src="{{ asset('bundles/app/librarys/bower_components/flot/jquery.flot.resize.js') }}"></script>
<script src="{{ asset('bundles/app/librarys/bower_components/flot-orderBars/js/jquery.flot.orderBars.js') }}"></script>
<script src="{{ asset('bundles/app/librarys/bower_components/flot.curvedlines/curvedLines.js') }}"></script>
<script src="{{ asset('bundles/app/librarys/bower_components/flot-orderBars/js/jquery.flot.orderBars.js') }}"></script>
<script src="{{ asset('bundles/app/librarys/bower_components/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.concat.min.js') }}"></script>
<script src="{{ asset('bundles/app/librarys/sparklines/jquery.sparkline.min.js') }}"></script>
<script src="{{ asset('bundles/app/librarys/bower_components/jquery.easy-pie-chart/dist/jquery.easypiechart.min.js') }}"></script>

<script src="{{ asset('bundles/app/librarys/bootstrap-growl/bootstrap-growl.min.js') }}"></script>
<script src="{{ asset('bundles/app/librarys/bower_components/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.concat.min.js') }}"></script>
<script src="{{ asset('bundles/app/librarys/bower_components/moment/min/moment.min.js') }}"></script>
<script src="{{ asset('bundles/app/librarys/bower_components/fullcalendar/dist/fullcalendar.min.js') }}"></script>

<!-- Charts -->
<script src="{{ asset('bundles/app/js/flot-charts/curved-line-chart.js') }}"></script>
<script src="{{ asset('bundles/app/js/flot-charts/bar-chart.js') }}"></script>
<script src="{{ asset('bundles/app/js/charts.js') }}"></script>
<script src="{{ asset('bundles/app/js/demo.js') }}"></script>
<script src="{{ asset('bundles/app/js/functions.js') }}"></script>

<!-- Placeholder for IE9 -->
<!--[if IE 9 ]>
<script src="{{ asset('bundles/app/librarys/bower_components/jquery-placeholder/jquery.placeholder.min.js') }}"></script>
<![endif]-->

<script src="{{ asset('bundles/app/js/functions.js') }}"></script>
<script src="{{ asset('bundles/app/js/demo.js') }}"></script>

</body>
</html>



